@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');
@import url('microtip.min.css');
@import url('ion.rangeSlider.min.css');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

a {
  text-decoration: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}


html,
body {
  position: relative;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  font: 400 16px/1em 'Nunito Sans', sans-serif;
  background: url(../images/bg.png) #14161D center center no-repeat fixed;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 50px;
}

input,
textarea,
button {
  font-family: 'Nunito Sans', sans-serif;
}

input,
textarea {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}


button {
  background: transparent;
  padding: 0;
  border: 0;
}

* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-btn svg {
  pointer-events: none;
}

.p0 {
  padding: 0;
}

.mg0 {
  margin: 0 !important;
}

.p-rel {
  position: relative;
}

.o-hidden {
  overflow: hidden;
}

.t-left {
  text-align: left !important;
}

.invs-overflow::-webkit-scrollbar {
  display: none;
}

.invs-overflow {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.seperator {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background: #3B3C4E;
}


.header-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  padding: 22px 33px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 100;

}

.header-toolbar__menu {
  margin-right: -315px;
}

.header-toolbar__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-toolbar__menu li {
  margin-left: 5px;
  margin-right: 5px;
}

.header-toolbar__menu li a {
  display: block;
  padding: 11px 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #B2B2B2;
  border-radius: 12px;
}

.header-toolbar__menu li a svg {
  display: inline-block;
  margin-left: 5px;
}

.header-toolbar__menu li a:hover,
.header-toolbar__menu li a.active-menu-item {
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(rgba(109, 0, 243, 0.05)), to(rgba(255, 0, 82, 0.05))), rgba(255, 255, 255, 0.1);
  background: -o-linear-gradient(left, rgba(109, 0, 243, 0.05) 0%, rgba(255, 0, 82, 0.05) 100%), rgba(255, 255, 255, 0.1);
  background: linear-gradient(90deg, rgba(109, 0, 243, 0.05) 0%, rgba(255, 0, 82, 0.05) 100%), rgba(255, 255, 255, 0.1);
}

.header-toolbar__menu li a:hover svg path {
  stroke: #fff;
}


.header-toolbar__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-toolbar_element {
  margin-left: 18px;
}

.element-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  background: #3B3C4E;
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  color: #fff;
  padding: 12px;
}


.wallet-info {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  background: #2C2D3A;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.wallet-address {
  padding: 6px 16px;

  width: 130px;
  background: #3B3C4E;
  border-radius: 12px;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-left: 15px;
  color: #FFFFFF;
}

.wallet-info__amount,
.wallet-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.dropdown-styling {
  padding: 8px;
}

.dropdown-styling svg,
.dropdown-styling img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.dropdown-arrow:after,
.dropdown-styling:after {
  content: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 5px;
}

.btn-element-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}


.btn-element {
  position: relative;
  cursor: pointer;
}

.btn-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  color: #FFFFFF;
  padding: 11px 16px;
  border-radius: 12px;
}

.btn-element:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;
  background: -o-linear-gradient(359.61deg, #6D00F3 0.66%, #FF0052 50.34%);
  background: linear-gradient(90.39deg, #6D00F3 0.66%, #FF0052 50.34%);
  -webkit-mask:
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box,
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn-element.btn-element-disabled {
  color: rgba(255, 255, 255, 0.3);
  border: 2px solid #3A3C48;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-element.btn-element-disabled:before {
  display: none;
}


.element-dropdown-wrap {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 50;
  padding-top: 20px;
}

.dp-right {
  left: initial;
}

.element-dropdown {
  width: 240px;
}

.ct-wrapper {
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#262B39), to(#1F1C2B));
  background: -o-linear-gradient(top, #262B39 0%, #1F1C2B 100%);
  background: linear-gradient(180deg, #262B39 0%, #1F1C2B 100%);
  border: 1px solid #282533;
  -webkit-box-shadow: 0px 6px 20px #0E0C14;
  box-shadow: 0px 6px 20px #0E0C14;
  border-radius: 20px;
}

.header-toolbar .ct-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

.header-toolbar .ct-wrapper::-webkit-scrollbar {
  display: none;
}

.header-toolbar .ct-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.ct-wrapper-heading-small,
.ct-wrapper__heading {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.ct-wrapper-heading-small,
.ct-wrapper__heading.element-dropdown-heading {
  font-size: 14px;
}


.hover-dropdown:hover .element-dropdown-wrap {
  display: block;
}


.element-dropdown-wide {
  width: 270px;
}


.scan-box {
  padding: 11px;
  border: 1px solid #3B3C4E;
  border-radius: 10px;
  margin-bottom: 13px;
}

.scan-box-token {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.scan-box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
}

.scan-box-status-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 1em;
  background: #3B3C4E;
  border-radius: 5px;
  padding: 3px 7px;
  margin-left: 15px;
}

.status-element,
.scan-box-status {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #00D084;
  border-radius: 100%;
  margin-right: 6px;
}

.status-inavailable-element {
  background: #FF0052;
}

.link-item {
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.link-item svg {
  height: 8px;
  margin-left: 5px;
}

.element-dropdown-list {
  margin-left: -20px;
  margin-right: -20px;
}

.element-dropdown-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
  color: #fff;
  padding: 6px 20px;
}

.element-dropdown-list li a span {
  color: #B2B2B2;
  font-size: 14px;
}

.element-dropdown-list li a img,
.element-dropdown-list li a svg {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.element-dropdown-list.element-dropdown-list-scan li a {
  padding-left: 35px;
  padding-right: 35px;
}

.element-dropdown-list li a:hover {
  background: #3B3C4E;
}

.element-dropdown-list-gray li a {
  color: #B2B2B2;
}

.element-dropdown-list-gray li a:hover svg path {
  fill: #fff;
}

.element-dropdown-list-gray li a:hover {
  color: #fff;
}


.dropdown-menu-nav {
  position: relative;
  width: calc(100% + 40px);
  transition: -webkit-transform 150ms ease-in-out;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  -o-transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  will-change: transform;
}

.dropdown-menu-nav ul {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.dropdown-menu-nav ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.dropdown-menu-nav ul ul li {
  width: 100%;
}

.dropdown-menu-nav ul.activeSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submenus-back {
  margin-bottom: 10px;
}

.has-submenus>a {
  position: relative;
}

.submenus-back>a {
  position: relative;
  width: calc(100% - 40px);
}

.submenus-back>a:hover {
  color: #fff;
}

.submenus-back>a:before {
  content: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 1L1 5L5 9' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  vertical-align: middle;
  margin-right: 10px;
}

.lang-menu .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.dropdown-click-toggle {
  cursor: pointer;
}


.container {
  padding: 24px;
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;

  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.07);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  border-radius: 20px;
}


.heading-element {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.swap-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.setting-btn>.btn-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.setting-btn-active>.btn-type,
.setting-btn>.btn-type:hover {
  background: rgba(255, 255, 255, .1);
}

.setting-btn-active svg path {
  stroke: #fff;
}


.btn-type {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  cursor: pointer;
}

.btn-type:active {
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
}

.btn-type-2 {
  cursor: pointer;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.btn-type-2:hover {
  opacity: .8;
}

.btn-type-2:active {
  opacity: 1;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.form-input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 4px;
  background: #2C2D3A;
  border-radius: 12px;
}

.form-input {
  position: relative;
}

.form-input input {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  width: 100%;
  height: auto;
  border: 0;
  outline: 0;
}

.form-input input:not(:-moz-placeholder-shown) {
  color: #fff;
}

.form-input input:not(:-ms-input-placeholder) {
  color: #fff;
}

.form-input input:not(:placeholder-shown) {
  color: #fff;
}


.form-input,
.form-input__data-info {
  padding: 13px 16px;
}

.form-input__data-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-input__data-info-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #B2B2B2;
}

.form-input__data-info-amount span {
  color: #fff;
  text-decoration: underline;
}

.form-input__data-info-amount .amount-red {
  font-size: 12px;
  color: #FF0052;
}


.transaction-output {
  padding: 4px;
  border-radius: 12px;
}

.transaction-output.transaction-preview-active {
  background: #2C2D3A;
}

.tr-mg-bottom {
  margin-bottom: 4px;
}

.transaction-box,
.transaction-output-preview {
  padding: 11px 16px;
  gap: 0 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  border-radius: 10px;
}

.transaction-output-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.transaction-box {
  border: 1px solid #3B3C4E;
  border-radius: 10px;
}

.transaction-output-preview__amount span {
  color: #B2B2B2;
}

.transaction-output-preview__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.transaction-output-preview__more svg {
  margin-left: 10px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


.transaction-output.transaction-preview-active .transaction-output-preview,
.transaction-output-preview:hover {
  background: #3B3C4E;
}

.transaction-output.transaction-preview-active .transaction-output-preview__more svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}


.form-input-convert-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  position: relative;
  width: 32px;
  height: 32px;
  margin: -16px auto;
  z-index: 10;
  background: #2C2D3A;
  border: 3px solid #190F1D;
  border-radius: 12px;
  cursor: pointer;
}

.form-input .form-input-element {
  position: absolute;
  top: 9px;
  bottom: 9px;
  right: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-element-lg {
  width: 100%;
  font-size: 16px;
  margin-top: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.mini-text-box {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #B2B2B2;
  margin-top: 26px;
}

.mini-text-box span {
  color: #fff;
}

.mini-text-box a {
  color: #FF0052;
}

.mini-text-box a:hover {
  text-decoration: underline;
}

.white {
  color: #fff;
}


.modal-overlay {
  visibility: hidden;
  opacity: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  background: url(../images/modal-bg.png) center no-repeat rgba(0, 0, 0, .6);
  
  background-size: cover;
  overflow-y: auto;
  padding: 20px;

  -webkit-transition: all .3s ease-in-out;

  -o-transition: all .3s ease-in-out;

  transition: all .3s ease-in-out;
}


.modal-overlay-active {
  visibility: visible;
  opacity: 1;
}

.modal-container-box {
  position: relative;
  max-width: 370px;
  width: 100%;
  max-height: 100%;
  margin: auto;
  overflow-y: auto;
}

.modal-overflow {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 15px;
}

.close-modal {
  position: relative;
}

.item-box-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  padding: 14px;
  background: #3B3C4E;
  border: 1px solid #3B3C4E;
  border-radius: 12px;
  margin-bottom: 8px;
}

.item-box-item:hover {
  border-color: #FF00524D;
}

.item-box-item-info__amount {
  display: block;
  font-size: 12px;
  color: #B2B2B2;
  line-height: 16px;
}


.item-box-item__icon {
  width: 44px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.item-box-item__icon img {
  width: 64%;
}

.item-box-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  gap: 0 15px;
}

.item-box-item-icon {
  margin-left: 15px;
}


.gray {
  color: #B2B2B2;
}

.af-sep:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #3B3C4E;
  margin-top: 10px;
  margin-bottom: 10px;
}

.transaction-box__info--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 15px;
  margin-bottom: 5px;
}


.router-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 15px;
  cursor: pointer;
  margin-bottom: 0;
}

.router-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#6D00F3), to(#FF0052));
  background: -o-linear-gradient(left, #6D00F3 0%, #FF0052 100%);
  background: linear-gradient(90deg, #6D00F3 0%, #FF0052 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.router-text svg {
  margin-right: 10px;
}

.router-toggle-icon:after {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6666 8.00004C14.6666 4.33337 11.6666 1.33337 7.99992 1.33337C4.33325 1.33337 1.33325 4.33337 1.33325 8.00004C1.33325 11.6667 4.33325 14.6667 7.99992 14.6667C11.6666 14.6667 14.6666 11.6667 14.6666 8.00004Z' stroke='%23B2B2B2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.33325 8H10.6666' stroke='%23B2B2B2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 10.6667V5.33337' stroke='%23B2B2B2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.router-toggle-icon:after,
.router-toggle-icon {
  width: 17px;
  height: 17px;
}


.router-active .router-toggle-icon {
  content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.62663 4.99997L9.31107 1.31553C9.38388 1.23051 9.42193 1.12114 9.41761 1.00928C9.41329 0.897428 9.36692 0.791321 9.28777 0.712168C9.20861 0.633015 9.10251 0.586645 8.99065 0.582324C8.8788 0.578004 8.76943 0.616051 8.68441 0.688863L4.99996 4.37331L1.31552 0.684418C1.23183 0.600728 1.11832 0.553711 0.999961 0.553711C0.881605 0.553711 0.768096 0.600728 0.684405 0.684418C0.600715 0.768109 0.553698 0.881618 0.553698 0.999974C0.553698 1.11833 0.600715 1.23184 0.684405 1.31553L4.37329 4.99997L0.684405 8.68442C0.63788 8.72426 0.600093 8.77329 0.573416 8.82843C0.546739 8.88357 0.531748 8.94363 0.529384 9.00484C0.52702 9.06605 0.537333 9.12709 0.559678 9.18412C0.582022 9.24115 0.615914 9.29295 0.659228 9.33626C0.702541 9.37958 0.75434 9.41347 0.811373 9.43581C0.868406 9.45816 0.929443 9.46847 0.990651 9.46611C1.05186 9.46374 1.11192 9.44875 1.16706 9.42208C1.2222 9.3954 1.27123 9.35761 1.31107 9.31109L4.99996 5.62664L8.68441 9.31109C8.76943 9.3839 8.8788 9.42195 8.99065 9.41762C9.10251 9.4133 9.20861 9.36693 9.28777 9.28778C9.36692 9.20863 9.41329 9.10252 9.41761 8.99067C9.42193 8.87881 9.38388 8.76944 9.31107 8.68442L5.62663 4.99997Z' fill='%23B2B2B2'/%3E%3C/svg%3E%0A");
}

.router-line_item {
  position: absolute;
  top: -12px;
  left: 0;
  display: inline-block;
  padding: 5px 8px;
  height: 28px;
  background: #3B3C4E;
  border-radius: 10px;
}

.router-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.router-line-dotted {
  position: relative;
  border-bottom: 5px dotted rgba(255, 255, 255, .5);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
}

.router-line_start,
.router-line_end {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}


.router-line_item-tokens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.router-line_item-icons {
  margin-right: 5px;
  padding-right: 13px;
}

.router-line_item-icons img {
  margin-top: 4px;
  margin-right: -13px;
}


.router-line_start img,
.router-line_end img,
.router-line_item-tokens img {
  width: 20px;
}

.mini-text-box.mini-text-box-router {
  margin-top: 13px;
}


.element-dropdown-wrap-setting {
  display: block;
  width: 390px;
  left: initial;
  right: 0;
  padding-top: 20px;
}

.setting-btn:not(.setting-btn-active) .element-dropdown-wrap-setting {
  visibility: hidden;
  opacity: 0;
}


.elements-box-mg {
  margin-bottom: 20px;
}

.elements-box__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FBF9F9;
  margin-bottom: 15px;
}

[aria-label][role~="tooltip"]::after {
  width: 240px;
  white-space: normal;
}

.tooltip-icon {
  margin-left: 5px;
}

.tooltip-icon,
.tooltip-icon:after {
  width: 16px;
  height: 16px;
}

.tooltip-icon:after {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 14C6.4087 14 4.88258 13.3679 3.75736 12.2426C2.63214 11.1174 2 9.5913 2 8C2 6.4087 2.63214 4.88258 3.75736 3.75736C4.88258 2.63214 6.4087 2 8 2C9.5913 2 11.1174 2.63214 12.2426 3.75736C13.3679 4.88258 14 6.4087 14 8C14 9.5913 13.3679 11.1174 12.2426 12.2426C11.1174 13.3679 9.5913 14 8 14V14Z' stroke='%23B2B2B2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.00008 8.83333V8.66667C8.00008 8.122 8.33675 7.82667 8.67408 7.6C9.00341 7.378 9.33341 7.08867 9.33341 6.55533C9.33341 6.20171 9.19294 5.86257 8.94289 5.61252C8.69284 5.36248 8.3537 5.222 8.00008 5.222C7.64646 5.222 7.30732 5.36248 7.05727 5.61252C6.80722 5.86257 6.66675 6.20171 6.66675 6.55533' stroke='%23B2B2B2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.99942 10.6667C7.90742 10.6667 7.83275 10.7413 7.83342 10.8333C7.83342 10.9253 7.90808 11 8.00008 11C8.09208 11 8.16675 10.9253 8.16675 10.8333C8.16675 10.7413 8.09208 10.6667 7.99942 10.6667' stroke='%23B2B2B2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}


.irs {
  margin-top: -10px;
}

.irs .irs-line {
  background: rgba(255, 255, 255, 0.2);
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none !important;
}

.irs .irs-bar.irs-bar--single {
  background: -webkit-gradient(linear, left top, right top, from(#6D00F3), color-stop(105.14%, #FF0052));
  background: -o-linear-gradient(left, #6D00F3 0%, #FF0052 105.14%);
  background: linear-gradient(90deg, #6D00F3 0%, #FF0052 105.14%);
}

.irs .irs-handle {
  cursor: pointer;
}

.irs--flat .irs-bar,
.irs--flat .irs-line {
  height: 4px;
}

.irs .irs-handle>i:first-child {
  width: 12px;
  height: 12px;
  margin-top: -1px;
  border-radius: 100%;
  background: #FFFFFF !important;
  border: 2px solid #e200fd;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.irs .irs-handle>i:hover,
.irs .irs-handle>i:first-child:active {
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
}

.irs .irs-grid {
  top: 0;
}

.irs .irs-grid-pol {
  display: none;
  bottom: 0;
}

.irs .irs-grid-text {
  font-size: 12px;
  top: 0;
  bottom: initial;
}

.irs-min,
.irs-max {
  display: none;
}

.irs .irs-single {
  z-index: 99;
  background: #deb100;
}

.irs .irs-single:before {
  border-top-color: #deb100;
}

.irs .irs-handle>i:first-child {
  left: 0;
}


.element-box-input-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.element-box-input-item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.label-inpu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.label-inpu-item input {
  margin-right: 10px;
}

.element-box-ui-slider {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.input-style.auto-btn {
  color: #B2B2B2;
  font-weight: 700;
  border: 2px solid #3A3C48;
  background: transparent;
}

.auto-btn.active-auto-btn {
  color: #fff;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.auto-btn.active-auto-btn:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 2px;
  background: -o-linear-gradient(359.61deg, #6D00F3 0.66%, #FF0052 50.34%);
  background: linear-gradient(90.39deg, #6D00F3 0.66%, #FF0052 50.34%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}


.input-style {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  background: #3A3C48;
  border-radius: 9px !important;
  text-align: center;
  padding: 8px 10px;
  border: 0;
  outline: 0;
}

.input-style-boxed {
  width: 54px;
}


.switch-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
}

.switch-wrap .switch {
  margin-right: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2C2D3A;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;

  background: #75767F;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

input:checked+.slider {
  background: -webkit-gradient(linear, left top, right top, from(#6D00F3), color-stop(105.14%, #FF0052));
  background: -o-linear-gradient(left, #6D00F3 0%, #FF0052 105.14%);
  background: linear-gradient(90deg, #6D00F3 0%, #FF0052 105.14%);
}

input:checked+.slider:before {
  background-color: white;
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.router-toggle-area,
.transaction-toggle-area {
  display: none;
}

.router-toggle-area {
  padding-top: 8px;
}


.connected-wallet-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.connected-wallet {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.connected-wallet .btn-element {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.connected-wallet__wallet,
.connected-wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.connected-wallet {
  font-weight: 600;
  font-size: 14px;
  color: #B2B2B2;
}

.connected-wallet__wallet {
  margin-left: 8px;
  color: #fff;
}

.connected-wallet__wallet img {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.modal-container-box-wider {
  max-width: 430px;
}

.wallet-address-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.wallet--address {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}

.ui-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  padding: 5px 16px;
  background: #3B3C4E;
  border-radius: 10px;
  cursor: pointer;
}

.ui-btn:focus,
.ui-btn:hover svg path {
  stroke: #fff;
}

.ui-btn:focus,
.ui-btn:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.ui-btn-boxed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
}

.ui-icon-mg-btn {
  margin-right: 5px;
}

.ui-btn.btn-element {
  background: transparent;
}

.ui-btn-mg-left {
  margin-left: 16px;
}

.wallet-address-box__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wallet-address-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 15px;
}


.transactions-row .transactions-row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.transactions-row__item-info {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.transaction-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 15px;
}

.clear-transaction-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #FF0052;
}

.clear-transaction-btn:hover {
  text-decoration: underline;
}

.tr-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 7px;
}

.tr-item:after {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.95 7.05L7.05005 16.95' stroke='url(%23paint0_linear_326_4163)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 7L16.95 7.049L17 14' stroke='url(%23paint1_linear_326_4163)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_326_4163' x1='12' y1='7.05' x2='12' y2='16.95' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%236D00F3'/%3E%3Cstop offset='1' stop-color='%23FF0052'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_326_4163' x1='13.5' y1='7' x2='13.5' y2='14' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%236D00F3'/%3E%3Cstop offset='1' stop-color='%23FF0052'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  width: 24px;
  height: 24px;
  display:
}

.tr-amount {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #B2B2B2;
}

.tr-amount span {
  display: block;
}


.no-items-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #B2B2B2;
  padding: 20px 0;
  min-height: 260px;
}

.no-items-found_img {
  max-width: 60px;
  margin-bottom: 16px;
}


.seperator-modal {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
}

.ui-search {
  position: relative;
  margin-bottom: 15px;
}

.ui-search-icon {
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 5;
}

.ui-search input {
  width: 100%;
  text-align: left;
  padding: 13px;
  padding-left: 50px !important;
}

.common-tokens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.common-token-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 6px 8px;
  border: 1px solid #3B3C4E;
  border-radius: 9px;

  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin-right: 8px;
  margin-bottom: 8px;
}

.common-token-item:hover {
  background: #3B3C4E;
}

.common-token-item__icon {
  margin-right: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.common-token-item__icon,
.common-token-item__icon img {
  width: 24px;
  height: 24px;
}

.element-dropdown-list.element-dropdown-list-modal li a span {
  margin-left: 8px;
}

.element-dropdown-list.element-dropdown-list-modal {
  padding-bottom: 35px;
}

.element-dropdown-list.element-dropdown-list-modal li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px 20px;
}

.element-dropdown-list.element-dropdown-list-modal li a .token-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.element-dropdown-list.element-dropdown-list-modal li a img,
.element-dropdown-list.element-dropdown-list-modal li a svg {
  margin-right: 12px;
}

.token-amount {
  color: #fff;
}

.manage-tokens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;

  padding: 14px;
  background: #3B3C4E;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FF0052;

}

.manage-tokens svg {
  margin-right: 8px;
}

.tab-content-wrap .tab-content:not(:first-child) {
  display: none;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #3A3C48;
  border-radius: 12px;
}

.tabs .tab-anchor {
  width: 50%;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1em;
  color: #B2B2B2;
  text-align: center;

  padding: 12px;
  border-radius: 12px;
}

.tab-content-wrap {
  padding-top: 24px;
}

.tabs .tab-anchor.active {
  color: #191919;
  background: #fff;
  border-color: #fff;
}


.container.wide-container {
  max-width: 870px
}


.swap-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-container-sep {
  width: calc(100% + 48px);
  height: 1px;
  border: 1px solid #272026;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 16px;
}

.pools-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 15px;
  margin-bottom: 15px;
}

.item-box-item__pool-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-box-item__pool-buttons .ui-btn {
  background: transparent;
}


.pool-item-box-item {
  background: #2C2D3A;
  margin-bottom: 12px;
}


.item-box-item__pool-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.token-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pool-info-item {
  margin-right: 12px;
}

.item-box-item__pool-info--tokens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 12px;
}

.item-box-item__token--item {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: -12px;
}

.item-box-item__pool-info--tokens .item-box-item__token--item:first-child {
  z-index: 15 !important;
}

.item-box-item__pool-info--tokens .item-box-item__token--item:not(:last-child) {
  z-index: 10;
}

.item-box-item__pool-info--currency {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.item-box-item__pool-info--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  background: #3B3C4E;
  border-radius: 5px;
}

.item-box-item__pool-conversion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.pool-currency-conversion {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.pool-currency-conversion span {
  color: #B2B2B2;
}


.convert-to:after {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.97313 13.6933C9.77979 13.5 9.77979 13.18 9.97313 12.9866L13.3131 9.64663C13.5065 9.4533 13.8265 9.4533 14.0198 9.64663C14.2131 9.83996 14.2131 10.16 14.0198 10.3533L10.6798 13.6933C10.5798 13.7866 10.4531 13.84 10.3265 13.84C10.1998 13.84 10.0731 13.7933 9.97313 13.6933Z' fill='%23B2B2B2'/%3E%3Cpath d='M2.3335 10.4935C2.06016 10.4935 1.8335 10.2668 1.8335 9.99349C1.8335 9.72015 2.06016 9.49349 2.3335 9.49349H13.6668C13.9402 9.49349 14.1668 9.72015 14.1668 9.99349C14.1668 10.2668 13.9402 10.4935 13.6668 10.4935H2.3335Z' fill='%23B2B2B2'/%3E%3Cpath d='M1.97947 6.35996C1.78614 6.16663 1.78614 5.84663 1.97947 5.65329L5.31947 2.31329C5.51281 2.11996 5.83281 2.11996 6.02614 2.31329C6.21947 2.50663 6.21947 2.82663 6.02614 3.01996L2.68614 6.35996C2.59281 6.45329 2.45947 6.50663 2.33281 6.50663C2.20614 6.50663 2.07947 6.45996 1.97947 6.35996Z' fill='%23B2B2B2'/%3E%3Cpath d='M2.3335 6.50651C2.06016 6.50651 1.8335 6.27985 1.8335 6.00651C1.8335 5.73318 2.06016 5.50651 2.3335 5.50651H13.6668C13.9402 5.50651 14.1668 5.73318 14.1668 6.00651C14.1668 6.27985 13.9402 6.50651 13.6668 6.50651H2.3335Z' fill='%23B2B2B2'/%3E%3C/svg%3E%0A");
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 12px;
}

.overflow-area {
  overflow-y: auto;
  max-height: 500px;
  margin-bottom: -24px;
}


.pool-liq-box {
  margin-bottom: 7px;
  padding: 12px;
  border: 1px solid #3B3C4E;
  border-radius: 10px;
}

.pool-liq-box-heading {
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

.flex-beetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 15px;
}

.rose-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #FF0052;
}

.rose-link:hover {
  text-decoration: none;
}

.pool-liq-box-info-item {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.pool-liq-box-info-item,
.pool-liq-box-info-item--token {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-token-icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}


.lq-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.lq-col {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
}

.liq-ui-buttons .ui-btn,
.swap-heading .ui-btn:not(.dropdown-arrow) {
  background: transparent;
}

.liq-ui-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.disabled-area {
  opacity: .4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}


.liq-area-heading {
  margin-bottom: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.liq-area-heading .ui-btn-mg-left {
  margin-left: 5px;
}

.cur-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  text-align: center;
  margin-bottom: 15px;
}

.cur-price span {
  color: #fff;
}

.price-range-ui-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.price-range-ui-wrap>.lq-row {
  margin-left: -7px;
  margin-right: -7px;
}

.price-range-ui-wrap>.lq-row .lq-col {
  padding-left: 7px;
  padding-right: 7px;
}

.price-range-ui-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border: 1px solid #2C2D3A;
  border-radius: 10px;
  padding: 10px 15px;
}

.price-range-ui--button {
  width: 32px;
  height: 32px;
  font-size: 100%;
  color: #B2B2B2;
  background: #3B3C4E;
  border-radius: 10px;
  font-weight: 700;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.price-range-ui--button:hover {
  background: #323342;
}

.price-range-ui-box__range-data {
  padding-left: 8px;
  padding-right: 8px;
}

.price-range-ui-box__range-data--txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #B2B2B2;
}

.price-range-ui-box__range-data--input {
  width: 100%;
  background: transparent;
  font-size: 20px;
  color: #fff;
  border: 0;
  outline: 0;
  text-align: center;
}


.form-input-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.d-iflex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}


.form-input-wrapper.tier-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  padding: 12px 18px;
  cursor: pointer;
}

.m10 {
  margin-bottom: 7px;
}

.route-section {
  display: none;
}

.route-active {
  display: block;
}

.modal-level:not(.modal-level-0) {
  display: none;
}


.token-btn--selected {
  background: #3B3C4E;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}


.header-toolbar.header-toolbar--scrolled {
  background: rgba(0, 0, 0, 0.7);
}


@media (max-width: 1280px) {
  .header-toolbar__menu {
    margin-left: 25px;
    margin-right: auto;
  }
}

@media (max-width: 992px) {


  .header-toolbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .header-toolbar__menu ul {
    padding: 10px;
    border-radius: 30px;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    background: rgba(0, 0, 0, 0.3);
  }

  .wallet-address {
    display: none;
  }

  .wallet-info__amount {
    padding-right: 12px;
  }

  .header-toolbar__elements .header-toolbar_element {
    margin-left: 10px;
  }

  .header-toolbar__elements .hover-dropdown .dropdown-styling svg,
  .header-toolbar__elements .hover-dropdown .dropdown-styling img {
    margin-right: 0;
  }

}


@media (max-width: 767px) {
  body {
    padding-top: 105px;
  }

  .header-toolbar .hover-dropdown .element-dropdown-wrap {
    left: -100%;
  }

  .lq-row.lq-row-2>.lq-col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .header-toolbar {
    padding: 15px;
  }

  .header-toolbar__logo img {
    max-width: 70px;
  }

  .header-toolbar__elements .dropdown-styling>span {
    font-size: 0;
  }

  .modal-overlay {
    display: block;
    padding: 0;
  }

  .modal-container-box {
    max-width: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    border-radius: 20px 20px 0 0;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }


  .seperator-modal {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }


  .modal-overlay.modal-overlay-active .modal-container-box {
    bottom: -10%;
  }

  [aria-label][role~="tooltip"]::after {
    font-size: 12px;
    width: 90px;
  }

}

@media (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .ct-wrapper-heading-small,
  .ct-wrapper__heading,
  .heading-element {
    font-size: 18px;
  }


  .pool-liq-box-info-item {
    font-size: 12px;
  }

  .form-input input {
    font-size: 18px;
  }

  .form-input__data-info-amount {
    font-size: 12px;
  }

  .transaction-box,
  .transaction-output-preview {
    padding-left: 10px;
    padding-right: 10px;
  }

  .connected-wallet-box .connected-wallet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .connected-wallet-box .connected-wallet__wallet {
    margin-left: 0;
  }

  .wallet--address {
    font-size: 15px;
  }


  .ct-wrapper {
    padding: 20px 15px;
  }

  .element-dropdown-wrap-setting {
    width: 280px;
  }

  .item-box-item__pool-conversion {
    margin-top: 0;
  }

  .item-box-item__pool-info,
  .item-box-item__pool-conversion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .token-info-item {
    margin-bottom: 15px;
  }

  .item-box-item__pool-buttons .ui-btn-mg-left {
    margin-left: 5px;
  }

  .swap-heading-md-column {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .swap-heading-md-column .switch-wrap,
  .swap-heading-md-column .swap-buttons {
    margin-top: 13px;
  }


  .liq-area-heading {
    margin-top: 15px;
  }

  .price-range-ui-wrap>.lq-row .lq-col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .price-range-ui-box {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
  }


  .form-input-convert-icon {
    width: 25px;
    height: 25px;
    margin: -12px auto;
    border-radius: 8px;
  }

  .form-input-convert-icon svg {
    width: 14px;
  }

}